@import './VowelBoat/positions.scss';
@import '../../../../colors.scss';

$section-height: 134px;

.vowel-section {
    margin: 8px;
    overflow-x: auto;
    overflow-y: hidden;
}

.vowel-boat-container {
    display: inline-block;
    margin: 8px;
    position: relative;
}

#vowel-boat {
    border-top: 418px solid black;
    border-left: 155px solid transparent;
    border-right: 0px solid transparent;
    height: 0px;
    width: 398px;
}

#top-left {
    top: 4px;
    left: 6px;
    height: 0;
    width: 30px;
    border-top: $section-height solid $floral-white;
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
}

#top-left:after {
    width: 222px;
    height: 0;
    border-bottom: $section-height solid $floral-white;
    border-left: 0px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    content: "";
    top: -$section-height;
    left: 0px;
}

#top-right {
    top: 4px;
    left: 282px;
    height: 0;
    width: 100px;
    border-top: $section-height solid $floral-white;
    border-left: 25px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
}

#top-right:after {
    width: 241px;
    height: 0;
    border-bottom: $section-height solid $floral-white;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    content: "";
    top: -$section-height;
    left: 0px;
}

#mid-left {
    top: $section-height + 8px;
    left: calc(($section-height + 8px) / 2.5);
    height: 0;
    width: 30px;
    border-top: $section-height solid $floral-white;
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
}

#mid-left:after {
    width: 197px;
    height: 0;
    border-bottom: $section-height solid $floral-white;
    border-left: 0px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    content: "";
    top: -$section-height;
    left: 0px;
}

#mid-right {
    top: $section-height + 8px;
    left: 308px;
    height: 0;
    width: 100px;
    border-top: $section-height solid $floral-white;
    border-left: 25px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
}

#mid-right:after {
    width: 215px;
    height: 0;
    border-bottom: $section-height solid $floral-white;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    content: "";
    top: -$section-height;
    left: 0px;
}

#bottom-left {
    top: ($section-height * 2) + 12px;
    left: calc((($section-height * 2) + 2px) / 2.5);
    height: 0;
    width: 30px;
    border-top: $section-height solid $floral-white;
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
}

#bottom-left:after {
    width: 172px;
    height: 0;
    border-bottom: $section-height solid $floral-white;
    border-left: 0px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    content: "";
    top: -$section-height;
    left: 0px;
}

#bottom-right {
    top: ($section-height * 2) + 12px;
    left: 334px;
    height: 0;
    width: 100px;
    border-top: $section-height solid $floral-white;
    border-left: 25px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
}

#bottom-right:after {
    width: 189px;
    height: 0;
    border-bottom: $section-height solid $floral-white;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    content: "";
    top: -$section-height;
    left: 0px;
}

.vowel-table {
    position: absolute;
    // top: -20px;
    top: -22.5px;
    left: -40px;
}

.vowel-table .tg {
    border-collapse:collapse;border-spacing:0;
}

.vowel-table .tg td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-weight: 500;
    font-size: 1.2rem;
    overflow:hidden;
    padding: 0;
    word-break:normal;
}


.vowel {
    width: 41px;
    height: 45px;
}

.symbol-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol {
    z-index: 5;
    width: 50%;
    position: relative;
    font-size: 1.2rem;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    background-color: $floral-white;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
        width: 75%;
        background-color: $hover-green;
    }
}
