@import '../../../box-shadows.scss';

.header {
    width: 100%;
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    background: #454140;
    height: 72px;
    @include mboxshadow(2);
}