@import '../../../box-shadows.scss';

.header {
  z-index: 5000;
    width: 100%;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    background: #454140;
    background-color: #454140;
    height: 72px;
    @include mboxshadow(2);
}
