.consonant-chart {
    margin: 8px;
}

.no-right-border {
    border-right-color: rgba(255, 255, 255, 0) !important;
}

.no-pad {
    font-weight: 500;
    padding: 0 !important;
}

.impossible {
    background-color: #AAA;
}

.cons-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
}

.voiceless {
    flex: 1;
}


.voiced {
    flex: 1;
}
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    // font-family: Arial, sans-serif;
    font-size: 20px;
    overflow: hidden;
    padding: 12px 16px;
    word-break: normal;
}

.tg .tg-0lax {
    position: relative;
    text-align: left;
    vertical-align:top
}

.top {
    width: 120px;
    padding: 8px !important;
    text-align: center !important;
}

.lat-ap {
    width: 190px !important;
}