@import '../../../../colors.scss';

.react-tabs {
    -webkit-tap-highlight-color: transparent;

    &__tab-list {
        display: flex;
        margin: 0 0 0px;
        padding: 0;
        height: 100%;
    }

    &__tab {
        display: inline-block;
        height: 100%;
        position: relative;
        list-style: none;
        cursor: pointer;
        color: white;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        background-color: "#454140";

        .tab-link {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            text-decoration: none;
            color: inherit;
            height: 100%;
            padding: 0px 16px;

            &--selected {
                background: $ash-gray;
                color: black;
            }
        }

        &:hover {
            background: $mountbatten-pink;
            color: white;
        }

        &--disabled {
            color: GrayText;
            cursor: default;
        }

        // &:focus {
        //     box-shadow: 0 0 5px hsl(208, 99%, 50%);
        //     border-color: hsl(208, 99%, 50%);
        //     outline: none;

        //     &:after {
        //         content: "";
        //         position: absolute;
        //         height: 5px;
        //         left: -4px;
        //         right: -4px;
        //         bottom: -5px;
        //         background: #fff;
        //     }
        // }
    }

    &__tab-panel {
        display: none;

        &--selected {
            display: block;
        }
    }
}
