@import '../../../box-shadows.scss';
@import '../../../screen.scss';

.languages-container {
    height: 100%;
}

.language-selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @include mboxshadow(1);

    + .chart-container {
        display: none;
    }

    &--retracted {
        height: 8%;

        @include breakpoint(sm-max) {
            height: 15%;
        }

        + .chart-container {
            display: block;
        }
    }
}