@import '../../../colors.scss';

.ipa-chart {
    display: inline-block;
}

.legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#legend-multiple {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: $multiple-phonemes-color;
}